<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="${titulo}">Insert title here</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous"/>

</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Spring boot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			aria-label="toggle-navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">
						Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#cliente"
					th:href="@{/listar}"> Cliente</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1 class="text-secondary border-bottom" th:text="${titulo}"></h1>

		<a th:href="@{/form}">Crear cliente</a>

		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.createAt}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>